body{
    background-color: white;
    color: black;
    font-size: 24px;
    margin: 0;
}

.main-container{
    display:flex;
    flex-direction:column;
}



/*"content" divs - used to set margins for each div*/
.headercontent{
    margin: 0 15% 0 15%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: #1F2937;
}
.container1content{
    margin: 5% 15% 5% 15%;
    background-color: #1F2937;
    color:#F9FAF8;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container2content{
    margin: 3% 20% 5% 20%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.container3content{
    margin: 5% 25% 5% 25%;
    background-color: #E5E7EB;
}
.container4content{
    display:flex;
    border-radius: 5px;
    margin: 5% 15% 5% 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:40px;
    padding-right:40px;
    background-color: #3882F6;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}
.container5content{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size:12px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}



/*header*/
.header{
    background-color: #1F2937;
}

.hlogo{
    justify-self:start;
    color:#F9FAF8;
    font-size: 24px;
    font-weight: bold;
}
.links{
    justify-self:end;
    display: flex;
    flex-direction: row;
    color:#E5E7EB;
    gap:20px;
    font-size: 18px;
}

/*container1 - "This website is awesome"*/

.container1{
    background-color: #1F2937;
}
h1{
    font-size:48px;
    font-weight: bolder;
}
.text-div p, h1{
    margin-block-start: 0;
    margin-block-end: 0;
}
.button{
    border-radius:5px;
    font-size: 12px;
}
#top-btn{
    color:white;
    font-weight: bold;
    background-color: cornflowerblue;
    border:0.5%;
    border-color:#1F2937
}

img{
    width:100%;
    height:100%;
}

/*container 2 - "Some random information"*/

.container2 h1{
    margin-top:20px;
    margin-bottom: 20px;
}
.boxes{
    display:flex;
    flex-direction: row;
    gap:30px;
}
.boxtext{
    color:#1F2937;
    font-size: 18px;
    text-align: center;
}
.box img{
    height: auto;
    width: 100%;
    border-radius: 7.5px;
}

/*container 3 - "quote"*/
.container3{
    background-color: #E5E7EB;
}
#quote{
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
    font-weight: lighter;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
#quote-source{
    text-align: end;
    font-size: 24px;
    margin-block-start: 0.25em;
}

/*container 4 - "Call to action!"*/

.container4{
    background-color: white;
    color: white;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.cta-btn-div{
    display:flex;
    align-self: center;
    justify-self: center;
}

#call-to-action-p{
    font-size:20px;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

#call-to-action-btn{
    color:white;
    background-color: #3882F6;
    border:0.5%;
    border-color:white;
}

/*container 5 - "copyright"*/
.container5{
    background-color: #1F2937;
}
